@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home__hero .hero__title h1.mobile {
  letter-spacing: -0.04em;
  word-wrap: break-word;
  font-size: 10rem;
  font-family: 'Bebas Neue', sans-serif;
  word-break: break-word;
  line-height: 1;
  vertical-align: baseline;
  margin: 0;
}

.home__hero {
    margin-bottom: 4rem;
}

.home__title {
  margin: 0;
}

.hero__title__top, .bottom__left, .hero__scroll{
    display: none;
}

.hero__title__bottom {
    display: flex;
    justify-content: end;
}

.hero__title .bottom__right {
    max-width: 255px;
    margin-left: 7rem;
}

.home__hero .hero__paragraph span {
    text-transform: uppercase;
}

.first-word {
    font-size: 12px;
    font-family: 'Open Sauce', arial, sans-serif;
    line-height: 1.3;
}

.home__hero .hero__paragraph .first-word {
    color: var(--COLOR-GRAY);
}


.home__hero .hero__paragraph {
    color: var(--COLOR-GRAY-LIGHT);
    font-size: 1.15rem;
}

@media screen and (min-width: 550px) {
  .hero__title .mobile {
    display: none;
  }

  .hero__title__top, .hero__title .desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
  }

  .home__hero {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .home__hero .bottom__left, .hero__title__left, .hero__title__right,.hero__title__dash {
    font-size: 17.1rem;
    font-family: 'Bebas Neue', sans-serif;
    word-break: break-word;
    display: inline-block;
    letter-spacing: -.05em;
  }

  .hero__title__dash {
    font-size: 14rem;
  }

  .home__hero .hero__title__dash {
    transform: scaleX(1.05);
    will-change: transform;
    color: var(--COLOR-GRAY);
}

   .tablet {
    display: none;
}

.hero__title__bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: -1rem;
}

.home__hero .hero__title__bottom, .home__hero .hero__title__top {
    width: 100%;
}

.hero__title__top, .bottom__left, .hero__scroll{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.home__hero .hero__paragraph {
    font-size: 1.05rem;
}

.hero__title .bottom__right {
    max-width: 330px;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.hide-mobile.nav__folio span {
    color: var(--COLOR-GRAY);
}

.c-infinite .c-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.c-infinite .c-link__inner {
    display: flex;
    transform: translateY(-100%);
    animation: infiniteArrow 1.4s cubic-bezier(.175,.885,.32,1.275) infinite;
}

@keyframes infiniteArrow {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
    
}

.c-infinite .c-link__animated {
    position: absolute;
    top: 100%;
}

span.hero__hover:hover,   .home__hero .hero__title__dash {
    color: var(--COLOR-GRAY-LIGHT);
  }

  @keyframes color-hero {
    0%   { color: var(--COLOR-GRAY-LIGHT); }
    100%  { color: var(--COLOR-GRAY);}
  }

  span.hero__hover, .home__hero .hero__title__dash {
    animation: color-hero 3s infinite linear;
    color: var(--COLOR-GRAY);
  }

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}



}
