@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home__hero .hero__title h1.mobile {
  letter-spacing: -0.04em;
  word-wrap: break-word;
  font-size: 140px;
  font-family: 'Bebas Neue', sans-serif;
  word-break: break-word;
  line-height: 1;
  vertical-align: baseline;
  margin: 0;
}

.home__hero {
    margin-bottom: 4rem;
}

.home__title {
  margin: 0;
}

.hero__title__top, .bottom__left, .hero__scroll{
    display: none;
}

.hero__title__bottom {
    display: flex;
    justify-content: space-between;
}

.hero__title .bottom__right {
    max-width: 255px;
    margin-left: 7rem;
}

.home__hero .hero__paragraph span {
    text-transform: uppercase;
}

.first-word {
    font-size: 12px;
    font-family: Open Sauce,arial;
    line-height: 1.3;
}

.home__hero .hero__paragraph .first-word {
    color: var(--COLOR-GRAY);
}

.home__hero .hero__paragraph {
    color: var(--COLOR-GRAY-LIGHT);
    font-size: 1.15rem;
}
